html, body {
  background-image: none; 
}


.fill {
  position:absolute;
  top:350px;
  left:500px;
  width:500px;
  color:#FFF;
  padding: 15px 15px 15px 15px;
  overflow:auto;
  background:#000;
  background-color: rgba(0,0,0,.5);
  font-family:"Century Gothic", arial, serif;
}

.fill p {
	font-size: 115%;
}

.fill a {
  color:#069;
}

.fill a:hover {
  color:#c00;
}
#body{
  padding-bottom:40px;
  margin:450px 50px 50px 50px;
  padding:0px;
  font-family:"Century Gothic", arial, serif;
  color: #FFF;
}

#bulk {
/*  border-bottom-style:solid;	*/
  padding-bottom:40px;
  margin:450px 50px 30px 10px;
  padding:0px;
  font-family:"Century Gothic", arial, serif;
  color: #FFF;
}

#bulk p {
  padding-top: 10px;
  padding-bottom:20px;
  font-size: 17px;
}