#body{
  padding-bottom:40px;
  margin:0px;
  padding:0px;
  font-family:"Century Gothic", arial, serif;
  color: #FFF;
  display:inline-block;
}

#nametag {
  position:absolute;
  z-index:3;
  left:60px;
  top:70px;
  color:#FFF;
  font-family:"Myriad Pro", "Trebuchet MS", sans-serif;
  font-size:30px;
  letter-spacing:1px;
  text-shadow:rgba(0, 0, 0, 0.60) 0 1px 1px;
  text-transform:uppercase;
  line-height: 120%;
}
#bulk {
  float:left;
  width:50%;
  margin:250px 0px 0px 60px;
  padding-bottom:40px;
  font-family:"Century Gothic", arial, serif;
  color: #FFF;
}

#bulk2 img {
  float:right;
  margin-top: 200px;
  margin-right:50px; 
  width:45%;
  padding-bottom:40px;
  background-attachment: hidden;
  max-width:30%; max-height:90%;
  overflow:hidden;
}

/*#menu-wrap {
  position:absolute; 
  width: 100%;
  float: left;
  padding: 0;
  max-height:52px;
  top:0px;
  background-color: #202020;
  font-family:"Myriad Pro", "Trebuchet MS", sans-serif;
  text-transform:uppercase;
  text-align:center;
  margin:0 auto;
}

#menu-wrap ul {
  list-style: none;
  width:780px;
  margin: auto;
  padding: 0px; 
  display: inline-block;
}

#menu-wrap li {
  float: left; 
  width:130px;
  height:52px;
}

#menu-wrap li a {
  display: block;
  padding: 13px 15px;
  text-decoration: none;
  font-weight: bold;
  color: #069;
  border-right: 1px solid #ccc; 
  font-size: 80%;
  max-height: 55px;
}

#menu-wrap .descr {
  font-size:75%;
  display:block;
  text-transform: none;
  color:#FFF;
}

#menu-wrap li:first-child a {
  border-left: 1px solid #ccc;
}

#menu-wrap li a:hover {
  color: #c00;
  background-color: #FFF; 
}*/

